body {
    padding-top: 70px;
}
.content {
    padding: 40px 15px;
    text-align: center;
    left: auto;
    right: auto;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu-container {
    position: absolute;
    top: 20px;
    width: 44px;
    z-index: 950;
    right: 20px;
}

.menu-container div {
    overflow: hidden;
    position: relative;
}

.custom-menu {
    background-color: #333;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 3px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 44px;
    height: 34px;
    display: block;
}

.custom-menu .icon-bar {
    background-color: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.custom-menu .icon-bar+.icon-bar {
    margin-top: 4px;
}

.custom-menu-items {
    display: block;
    position: relative;
    color: white;
    width: 280px;
    float: right;
    text-align: center;
}

.custom-menu-items li>a {
    color: white;
    background-color: grey;
    position: relative;
}

.custom-menu-items li:hover, .custom-menu-items li>a:hover {
    background-color: black;
}

ul.scrollImages {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    height: 86px;
    z-index: 900;
    position: absolute;
    list-style-type: none;
    background-color: #222;
    //top: 52px;
}

ul.scrollImages li {
    display: inline;
    float: left;
    border-right: 4px solid #000000;
}

ul.scrollImages li:last {
    border-right: none;
}

.score {
    position: relative;
    top: -18px;
}

.score .scrollImages {
    position: relative;
}

.score .container {
    //margin-top: 60px;
    position: relative;
}
/*
.score .container-fluid, .score .row-fluid, .score .span4, .score .span8, .score h2 {
    display: inline-block;
    text-align: center;
}
*/
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.jumbotron {
  //text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
