body {
    padding-top: 70px;
}
.content {
    padding: 40px 15px;
    text-align: center;
    left: auto;
    right: auto;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu-container {
    position: absolute;
    top: 68px;
    width: 95%;
    z-index: 500;
}

.menu-container div {
    overflow: hidden;
    z-index: 500;
}

.custom-menu {
    background-color: black;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 3px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 44px;
    height: 34px;
    display: block;
}

.custom-menu .icon-bar {
    background-color: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.custom-menu .icon-bar+.icon-bar {
    margin-top: 4px;
}

.custom-menu-items {
    display: block;
    position: relative;
    color: white;
    width: 280px;
    float: right;
    text-align: center;
}

.custom-menu-items li>a {
    color: white;
    background-color: grey;
}

.custom-menu-items li:hover, .custom-menu-items li>a:hover {
    background-color: black;
}

ul.scrollImages {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 90%;
    overflow-x: auto;
    height: 80px;
    z-index: 900;
    position: relative;
}

ul.scrollImages li {
    display: inline;
    width: 150px;
    height: 150px;
}
