.image {
    margin-top: 3px


}

.image.magpies {
    background: url('../images/magpies.jpg');
    display: block;
    background-repeat: no-repeat;
    width: 95px;
    height: 80px;
}

.image.mollymook {
    background: url('../images/mollymookHilltop2.jpg');
    display: block;
    background-repeat: no-repeat;
    width: 110px;
    height: 80px;
}
