<div class="rules container">
    <div class="jumbotron">
        <h1>Handicap</h1>
        <p class="lead">
            After each round - handicap is adjusted according to score.
            <br>
            Any score larger than handicap, a maximum of 0.2 will be added to handicap.
            <br>
            For every shot you hit under your handicap, 0.2 per shot will be deducted
            <br>
            from your handicap. Eg. if your handicap is 20 and scored 10 over,
            <br>
            10 x 0.2 = 2 strokes will be deducted for next round. 18 will be the new
            <br>
            handicap for next round.
        </p>
    </div>
</div>
